* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc {
    width: 600px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    background-color: rgb(118, 132, 145);

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 80px;
    grid-gap: 20px;
}

.calc__result {
    grid-column: 1 / -1;
    background-color: rgb(30, 30, 31);
    color: aliceblue;
    font-size: 56px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(63, 63, 67);
}
.calc__btn {
    border: none;
    border-radius: 5px;
    font-size: 30px;
    color:rgb(40, 40, 40);
    cursor: pointer;
    background-color: rgb(225, 231, 239);
    box-shadow: 1px 1px 5px rgb(63, 63, 67);
}

.calc__btn:hover {
    opacity: 0.9;
}

.calc__btn:active {
    box-shadow: 1px 1px 1px rgb(63, 63, 67);
}

.calc__btn_operator {
    background-color: rgb(255, 237, 147);
}

.calc__btn_reset {
    background-color: rgb(231, 77, 77);
    color: #fff;
}

.calc__btn_equal {
    color: #fff;
    background-color: rgb(52, 77, 198);
    grid-column: 2 / -1;
}